.add-edit-user-box {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: left;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  .user-name,
  .user-email,
  .user-phoneNumber {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .upload-photo {
    width: 20%;
  }
}

.add-edit-user-detail-box {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: left;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  select {
    width: 100%;
    height: 3rem;
  }
  .user-institution,
  .user-role {
    width: 30%;
    margin-bottom: 1.5rem;
  }
  .user-startDate,
  .user-endDate {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .dropdown-startDate,
  .dropdown-endDate {
    display: flex;
    .month {
      margin-right: 1rem;
    }
  }
}

.btn-add {
  width: 95%;
  height: 3.8rem;
  margin: 1rem auto;
  display: flex;
  .btn-add-more {
    background: #ff5c00;
    height: inherit;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0 3rem;
  }
}

.save-btn {
  width: 20%;
  margin: 0 2.5% 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
