.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1c1c18;
  align-items: center;
  position: fixed;

  width: 100%;
  padding: 14px 74px;

  z-index: 60;
}

.header .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  div {
    cursor: pointer;
  }
}

.header .header-left img {
  width: 85.72px;
  height: 85.72px;
}

.header .header-left .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .header-left .title h4 {
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  margin: 0 !important;

  color: #000000;
}

.header .header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header .header-right .profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header .header-right h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: right;

  /* Text/primary */
  color: #0b0038;
}

.header .header-right h5.to-login {
  cursor: pointer;
}

.header .header-right {
  font-family: "Nunito Sans";
  color: #fff;

  .profile {
    .avatar {
      width: 44px;
      height: 44px;
      object-fit: cover;
      border-radius: 100%;
    }

    .more {
      width: 28px;
      height: 28px;
      object-fit: cover;
      border-radius: 100%;
      margin-left: 32px;

      cursor: pointer;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 16px;

      .name {
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
      }

      .role {
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
      }
    }
  }

  /* identical to box height */
}

.header .header-right .submit-btn {
  width: 100px;
  padding: 0;
}

.profile-options {
  position: sticky;
}

.profile-options .menu {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 20;

  background: white;
  border: 3px solid #f5f5f5;
  width: 120px;
  height: 120px;
  padding: 6px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-options .menu .sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 12px;
  color: black;

  cursor: pointer;
}
.profile-options .menu .sub-menu:last-child {
  margin-bottom: 0px;
}

.profile-options .menu .sub-menu span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-right: 6px;
}
