.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: calc(100vh - 138px);
  width: 20%;
  padding: 72px 0px;

  .separator-menu {
    margin-bottom: 48px;
  }

  .separator-sub-menu {
    margin-bottom: 8px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 0px 44px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 24px;
    }

    span {
      font-size: 14px;
      line-height: 19px;
      font-family: "Palanquin";
      font-weight: 500;
      flex: 1;
      color: #bdbdbd;
    }
  }

  .active {
    .iconName {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        color: #67ca7d;
        font-size: 14px;
        line-height: 19px;
        font-family: "Palanquin";
        font-weight: 500;
        flex: 1;
      }
    }

    .dotActive {
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: #67ca7d;
      margin-left: 14px;
    }

    .dotInactive {
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: transparent;
      margin-left: 14px;
    }
  }

  .sub {
    padding-left: 100px;
    margin-bottom: 8px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 14px;
      line-height: 19px;
      font-family: "Palanquin";
      font-weight: 500;
      flex: 1;
      color: #bdbdbd;
    }
  }
}
