.sign-progress {
  height: 150px;
  width: 95%;
  margin: 0 auto 1rem auto;
  border: solid 1px black;
}

.form-sendTo {
  width: 95%;
  background: #fff;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
  .sendTo-input {
    width: 40%;
  }
  span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */

    /* Gray 2 */
    color: #4f4f4f;
    padding: 8px;
  }
}
.form-assignTo {
  width: 95%;
  margin: 1rem auto;
  background: #fff;
  text-align: left;
  padding: 1rem;
  .assignTo-input {
    width: 40%;
  }
  .assignTo-input-item {
    margin-bottom: 24px;
  }
  span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */

    /* Gray 2 */

    color: #4f4f4f;
  }
  .btn-add-user {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 50%;

    .submit-btn {
      margin-right: 6px;
    }

    .btn-delete-user .submit-btn {
      background: #eb5757;
    }
  }
}

.btn-back-next {
  display: flex;
  margin: 3rem 2rem 0 0;
  justify-content: space-between;
  .btn-next {
    margin: 0;
  }
}
