.form-sendTo-assignTo {
  width: 95%;
  background: #fff;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
  padding-left: 4rem;
  display: flex;
  .sendTo-view {
    width: 35%;
  }
}
.form-certificate {
  width: 95%;
  background: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  img {
    width: -webkit-fill-available;
  }
}
