.container {
  margin-left: 44px;
  margin-right: 44px;
}

.documentContainer {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 44px;
  padding: 34px;
}

.form-document-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  .document-name,
  .status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .document-name-title {
      margin-bottom: 8px;
      font-size: 16px;
      font-family: "Nunito Sans";
      color: #8b8b8b;
    }
    .document-name-value {
      font-size: 24px;
      line-height: 32px;
      font-family: "Nunito Sans";
      color: #333333;
    }

    .status-title {
      @extend .document-name-title;
    }
    .status-value {
      background-color: #e1f1ff;
    }
  }
}

.form-view-document {
  width: 95%;
  background: #fff;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
  .view-before-signing,
  .view-after-signed {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    p {
      width: 30%;
      margin: 0;
    }
  }
  .btn-view,
  .btn-download {
    width: 20%;
    margin-left: 1rem;
  }
}
.btn-done {
  width: 20%;
  margin: 2rem;
}

.share-btn {
  position: relative;
  margin-right: 24px;
  img {
    width: 100px;
    cursor: pointer;
  }
}

.view-action-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  background: #fff;
  margin: 0 auto;
  margin-top: 66px;

  .submit-btn {
    width: 200px;
    padding: 12px 24px;

    margin-right: 24px;
  }

  .submit-btn:last-child {
    width: 200px;
    padding: 0;
  }
}

.view-pdf {
  @extend .documentContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;

  .submit-btn {
    width: 200px;
    margin-top: 24px;
  }
}
