.modal-box-institution {
  width: 40%;
  height: fit-content;
  background: #fff;
  position: absolute;
  top: 5%;
  left: 30%;
  padding: 2rem;
  text-align: left;
  h1 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px rgba(11, 0, 56, 0.2);
  }
  .institution-name,
  .institution-email,
  .institution-phoneNumber,
  .institution-address {
    padding-bottom: 1rem;
  }
  .institution-type {
    padding-bottom: 3rem;
    select {
      width: 50%;
      height: 3rem;
    }
  }
  .btn-group {
    width: 100%;
    justify-content: space-between;
    .btn-cancel {
      width: 45%;
      padding: 1rem 0;
      height: auto;
      border: none;
      color: #000;
      background: #c4c4c4;
      border-radius: 5px;
    }
    .btn-save {
      width: 45%;
      padding: 1rem 0;
      height: auto;
      border: none;
      color: #fff;
      background: #5bc0de;
      border-radius: 5px;
    }
  }
}

.upload-photo {
  width: 20%;
  .browse-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    width: 100%;
    min-height: 62px;
    background: #5bc0de;
    box-shadow: 0px 15px 30px rgba(241, 70, 32, 0.2);
    border-radius: 8px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
}
